  <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
    <h3 class="uk-title">Details</h3>
    <table class="uk-table uk-text-nowrap">
      <tbody>
      <tr>
        <td><strong>Date/Time</strong></td>
        <td><%= running.date %></td>
      </tr>
      <tr>
        <td><strong>Location</strong></td>
        <td><%= running.location %></td>
      </tr>
      <tr>
        <td><strong>Initiator</strong></td>
        <td><%= link_to running.user.username, user_path(running.user) %></td>
      </tr>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= running.entry_duration %></td>
      </tr>
      <tr>
        <td><strong>Course length</strong></td>
        <td><%= running.course_length %></td>
      </tr>
      <tr>
        <td><strong>Course type</strong></td>
        <td><%= running.course_type %></td>
      </tr>
      <tr>
        <td><strong>Number of rounds</strong></td>
        <td><%= running.number_of_rounds %></td>
      </tr>
      </tbody>
    </table>
  </div>