<h1>Running Sessions</h1>

<ul class="uk-tab" data-uk-tab="{connect: '#tabs-content'}">
  <li class="uk-active"><a href="#">Upcoming Events</a></li>
  <li><a href="#">Past Events</a></li>
  <li><a href="#">Invitations<% if @invitations.count > 0 %> <span class="uk-text-muted">(<%= @invitations.count %>)</span><% end %></a></li>
</ul>

<ul id="tabs-content" class="uk-switcher uk-margin">

  <!-- Upcoming events -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @runnings_upcoming } %>

  </li>

  <!-- Past events -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @runnings_past } %>

  </li>

  <!-- Invitations -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @invitations, :confirm_button => true } %>

  </li>

</ul>

<a href="<%= new_running_path %>" class="uk-button uk-button-primary">Create Running Session</a>
