<h1>Running Sessions</h1>

<a href="<%= new_running_path %>" class="uk-button uk-button-primary uk-align-right">
  <i class="uk-icon uk-icon-plus"></i>
  Create Running Session
</a>

<!-- Display search form for sport sessions -->
<div class="uk-grid">
  <div class="uk-width-medium-1-1">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title">Filter  by</h3>
      <form class="uk-form uk-form-stacked" action="<%= sport_sessions_path %>" method="GET">
        <div class="uk-grid">

          <div class="uk-width-1-3">
            <label class="uk-form-label" for="date">Date</label>
            <div class="uk-grid">

              <div class="uk-width-1-2">
                <input type="datetime" placeholder="from" name="date_from" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD'}" id="entry_date" class="uk-width-1-1">
              </div>
              <div class="uk-width-1-2">
                <input type="datetime" placeholder="to" name="date_to" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD'}" id="entry_date" class="uk-width-1-1">
              </div>
            </div>
          </div>

          <div class="uk-width-1-3">
            <label class="uk-form-label" for="entry_location">Location</label>
            <input type="text" name="entry_location" id="entry_duration" class="uk-form-select uk-width-1-1">
          </div>

          <div class="uk-width-1-3">
            <label class="uk-form-label" for="participant">Participants</label>
            <select name="participant" id="participant"  class="uk-form-select uk-width-1-1">
              <option value="">All</option>
              <% @all_confirmed_participants.each do |p| %>
                  <option value="<%= p.user_id%>"><%= p.user.username %></option>
              <% end %>
            </select>
          </div>


        </div>
        <div class="uk-grid">
          <div class="uk-width-1-1">
            <button class="uk-button uk-button-primary" type="submit">Search</button>
          </div>
        </div>
        <% #This adds the needed field for the CRSF protection to the form %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      </form>
    </div>
  </div>
</div>

<ul class="uk-tab uk-margin-large-top" data-uk-tab="{connect: '#tabs-content'}">
  <li class="uk-active"><a href="#">Upcoming Events</a></li>
  <li><a href="#">Past Events</a></li>
  <li><a href="#">Invitations<% if @invitations.count > 0 %> <span class="uk-text-muted">(<%= @invitations.count %>)</span><% end %></a></li>
</ul>

<ul id="tabs-content" class="uk-switcher uk-margin">

  <!-- Upcoming events -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @runnings_upcoming } %>

  </li>

  <!-- Past events -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @runnings_past } %>

  </li>

  <!-- Invitations -->
  <li>

    <%= render partial: 'sport_sessions/sport_sessions_table', :locals => { :sessions => @invitations } %>

  </li>

</ul>
