<h1>Running Sessions</h1>

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th>Participants</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @runnings.each do |s| %>
      <tr>
        <td><%= s.entry_date %></td>
        <td><%= s.entry_location %></td>
        <td>
          <ul><% s.sport_session_participants.each do |p|%>
                <li><%=p.user.name%></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'view', sport_session_path(s), class: "uk-button uk-button-small"%>
          <%= link_to 'delete', running_path(s), method: :delete, class: "uk-button uk-button-small"  %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
