<%content_for :head do %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<% end %>
<% content_for :head do %>
    <%= render :partial => 'sport_sessions/google_map', :locals => {:session => @running} %>
<% end %>

<% content_for :head do %>
    <%= render :partial => 'sport_sessions/track_map', :locals => {:points=> @points, :gravity_point => @gravity_point } %>
<% end %>

<% content_for :head do %>
    <%= render :partial => 'sport_sessions/height_profile', :locals => {:heights => @heights } %>
<% end %>

<% content_for :head do %>
    <%= render :partial => 'sport_sessions/pace_profile', :locals => {:paces => @paces } %>
<% end %>

<% content_for :head do %>
    <%= render :partial => 'sport_sessions/speed_profile', :locals => {:speeds => @speeds } %>
<% end %>

<% content_for :javascript do %>
    <%= render :partial => 'sport_sessions/facebook_javascript' %>
<% end %>

<script>
    $(function () {
        // some fun
        var tabs = ['#tab_results','#tab_track','#tab_details'];
        var hideTabs = function(){
            tabs.forEach(function(tab_id){
                $(tab_id + '_page').hide();
            });
        };

        $('#tab_results').click(function(){
            hideTabs();
            $('#tab_results_page').fadeIn(500);
            google.maps.event.trigger(map, 'resize');
            map.setCenter(map_center);
        });

        $('#tab_track').click(function(){
            hideTabs();
            $('#tab_track_page').fadeIn(500);
            google.maps.event.trigger(track_map, 'resize');
            track_map.setCenter(track_map_center);
            plot_profile();
            plot_paces();
            plot_speeds();
        });

        $('#tab_details').click(function(){
            hideTabs();
            $('#tab_details_page').fadeIn(500);
        });

        // init
        hideTabs();
        $('#tab_results_page').show();
    });
</script>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-3-4">
    <h1><%= @running.title %></h1>

    <p class="uk-text-large"><%= @running.comment %></p>
  </div>

  <div class="uk-width-medium-1-4">

    <% if @running.is_participant(current_user) %>
        <div class="uk-button-group uk-align-right">
          <button class="uk-button">Actions</button>
          <div data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-button"><i class="uk-icon uk-icon-caret-down"></i></a>

            <div class="uk-dropdown uk-dropdown-small">
              <ul class="uk-nav uk-nav-dropdown">
                <% if @running.is_upcoming and @running.user_id == current_user.id %>
                    <li><a href="<%= edit_running_path @running %>">Edit</a></li>
                <% end %>
                <% if @running.is_past %>
                    <li><a href="<%= edit_running_path(@running.id) + '/result' %>">Edit Results</a></li>
                <% end %>
                <% if @running.is_upcoming and @running.is_unconfirmed_participant(current_user) %>
                    <li><a href="/sport_sessions/<%= @running.id %>/confirm/<%= current_user.id %>">Confirm</a></li>
                    <li><a href="/sport_sessions/<%= @running.id %>/decline/<%= current_user.id %>">Decline</a></li>
                <% end %>
                <% if @running.is_upcoming and @running.is_confirmed_participant(current_user) and not @running.user_id == current_user.id %>
                    <li><a href="/sport_sessions/<%= @running.id %>/unsubscribe/<%= current_user.id %>">Unsubscribe</a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>

<div class="uk-grid" data-uk-grid-margin>

  <div class="uk-width-medium-2-3">
    <div class="uk-panel">
      <ul class="uk-tab" data-uk-tab>
        <li class="uk-active"><a href="" id="tab_results">Results</a></li>
        <% if @points %><li><a href="" id="tab_track">Track</a></li> <% end %>
        <li><a href="" id="tab_details">Details</a></li>
      </ul>

    </div>
  </div>
  <div class="uk-width-medium-1-3"></div>
  <!-- TODO: remove this div tag? necessary? -->

  <div class="uk-width-medium-2-3">

    <div class="uk-grid" >
      <!-- Result tab page -->
      <div class="uk-width-medium-1-1" id="tab_results_page">
        <% if @running.is_past %>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
              <h3 class="uk-panel-title">Results</h3>

              <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                  <th>Participant</th>
                  <th>Time</th>
                  <th>Length</th>
                </tr>
                </thead>
                <tbody>
                <% @running.get_all_results.each do |result| %>
                    <tr class="
                  <% if result.user.id == current_user.id %>highlight
                  <% end %>">
                      <td><%= link_to result.user.username, result.user %></td>
                      <td><%= result.time %></td>
                      <td><%= result.length %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>

        <% end %>

        <%= render :partial => 'table_attributes', :locals => {:running => @running} %>

        <% if @running.latitude and @running.longitude %>
            <div id="map-canvas" class="google-map uk-margin"></div>
        <% end %>
      </div>

    <!-- Track tab page -->
      <div class="uk-width-medium-1-1" id="tab_track_page">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
          <h3 class="uk-panel-title">Track map</h3>
          <div id="track-map-canvas" class="track-map uk-margin"></div>
         </div>

        <%= render partial: 'sport_sessions/statistics', locals: { stats: @stats, paces: @paces } %>

        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
          <h3 class="uk-panel-title">Height profile</h3>

          <div id="profile_plot" style="height:250px;"></div>
        </div>


        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
          <h3 class="uk-panel-title">Pace</h3>

          <div id="pace_plot" style="height:250px;"></div>
        </div>


        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
          <h3 class="uk-panel-title">Speed</h3>

          <div id="speed_plot" style="height:250px;"></div>
        </div>

      </div>

    <!-- Track tab page -->
      <div class="uk-width-medium-1-1" id="tab_details_page">
        dsfkdsdsadasdsjk
      </div>

    </div>

  </div>

  <div class="uk-width-medium-1-3">

    <% if @running.is_upcoming %>
        <%= render :partial => 'sport_sessions/users_joining', :locals => {:session => @running} %>
    <% end %>

    <% if @running.achievements_obtained(current_user).count > 0 %>
        <div class="uk-panel uk-panel-box">
          <h3 class="uk-panel-title"><i class="uk-icon-star"></i> Achievements</h3>
          <% @running.achievements_obtained(current_user).each do |achievement| %>
              <li class="uk-margin-small-bottom">
                <div class="uk-thumbnail uk-border-circle uk-margin-right">
                  <img class="uk-border-circle" width="50" height=50" src="<%= image_path("achievement_icons/#{achievement.id}.svg") %>">
                </div>
                <%= achievement.title %>
              </li>
          <% end %>
        </div>
    <% end %>

    <%= render :partial => 'sport_sessions/social_buttons', :locals => {:session => @running} %>

  </div>
</div>