<% content_for :head do %>
    <%= render :partial => 'sport_sessions/google_map', :locals => { :session => @running } %>
<% end %>

<% content_for :javascript do %>
    <%= render :partial => 'sport_sessions/facebook_javascript' %>
<% end %>


<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-3-4">
    <h1 class="uk-heading-large"><%= @running.title %></h1>
    <p class="uk-text-large"><%= @running.comment %></p>
  </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-2-3">


    <div class="uk-overflow-container">
      <div class="uk-panel">
        <table class="uk-table uk-text-nowrap">
          <tbody>
          <tr>
            <td><strong>Date/Time</strong></td>
            <td><%= @running.date %></td>
          </tr>
          <tr>
            <td><strong>Location</strong></td>
            <td><%= @running.location %></td>
          </tr>
          <tr>
            <td><strong>Duration</strong></td>
            <td><%= @running.entry_duration %></td>
          </tr>
          <tr>
            <td><strong>Course length</strong></td>
            <td><%= @running.course_length %></td>
          </tr>
          <tr>
            <td><strong>Course type</strong></td>
            <td><%= @running.course_type %></td>
          </tr>
          <tr>
            <td><strong>Number of rounds</strong></td>
            <td><%= @running.number_of_rounds %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% if @running.latitude and @running.longitude %>
        <div id="map-canvas" class="google-map uk-margin"></div>
    <% end %>

    <%= render :partial => 'sport_sessions/social_buttons', :locals => { :session => @running } %>

  </div>

  <div class="uk-width-medium-1-3">

    <div class="uk-panel uk-panel-box uk-panel-box-primary">
      <h3 class="uk-panel-title">Results</h3>

      <dl class="uk-description-list-line">
        <dt>Time</dt>
        <dd>2 hours, 5 minutes</dd>
        <dt>Length</dt>
        <dd>25 km</dd>
      </dl>

    </div>

    <%= render :partial => 'sport_sessions/users_joining', :locals => { :session => @running } %>

    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title"><i class="uk-icon-star"></i> Achievements</h3>
      Yeah :)
    </div>

  </div>
</div>