<h1>Friends</h1>

<div class="uk-grid">

  <!-- Friends -->
  <div class="uk-width-medium-2-3" data-uk-margin>

    <% if @requests_received.count > 0 %>
        <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-primary uk-margin" data-uk-margin>
          <h3 class="uk-title">New Friend Requests</h3>
          <table class="uk-table uk-table-condensed">
          <% @requests_received.each do |user| %>
              <tr>
              <%= form_for Friendship.new, url: friends_confirm_decline_url, method: :post do |f| %>
                  <%= f.hidden_field :friend_id, value: user.id %>
                  <%= f.hidden_field :username, value: user.username %>
                  <td> <%= user.username %> </td>
                  <td> <%= f.button 'Confirm', name: 'confirm', class: 'uk-button uk-button-small' %> <%= f.button 'Decline', name: 'decline', class: 'uk-button uk-button-small' %></td>
              <% end %>
              </tr>
          <% end %>
          </table>
        </div>
    <% end %>

    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary uk-margin" data-uk-margin>
      <h3 class="uk-title">My Friends</h3>
      <table class="uk-table">
        <tr>
          <th>Username</th>
          <th>Common Sessions</th>
        </tr>
        <% @friends.each do |user| %>
            <tr>
              <td><%= link_to user.username, user_path(user) %></td>
              <td><a class="uk-button uk-button-small" href="<%= sport_sessions_path %>?participant=<%= user.id %>">View</a></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

  <!-- Suggestions -->
  <div class="uk-width-medium-1-3" data-uk-margin>
    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary uk-margin">
      <h3 class="uk-title">Suggestions</h3>
      <table class="uk-table">
        <% @proposals.each do |user| %>
            <tr>
              <td> <%= link_to user.username, user_path(user) %> </td>
              <td> <%= render partial: 'request_form', locals: { user: user } %> </td>
            </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>