<h1>Sport Sessions</h1>

Create new sport session: <% @item_paths = {"Running" => new_running_path, "Cycling" => new_cycling_path, "Boxing" => new_boxing_path, "Soccer" => new_soccer_path}%>
<%= select_tag :edit_item, options_for_select(@item_paths)%>

<script type="text/javascript">
    $('#edit_item').change(function() {
        window.location = $(this).find('option:selected').val();
    });
</script>


<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Sport</th>
    <th>Date</th>
    <th>Location</th>
    <th>Participants</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @sessions.each do |s| %>
      <tr>
        <td><%= s.type %></td>
        <td><%= s.entry_date %></td>
        <td><%= s.entry_location %></td>
        <td>&nbsp;</td>
        <td><%= link_to "view", sport_session_path(session), class: "uk-button uk-button-small"%></td>
      </tr>
  <% end %>
  </tbody>
</table>