<h1>Sport Sessions</h1>

<div class="uk-button-dropdown" data-uk-dropdown>
  <button class="uk-button">Create New Session</button>
  <div class="uk-dropdown uk-dropdown-small">
    <ul class="uk-nav uk-nav-dropdown">
      <li><%= link_to "Running", new_running_path, :class => 'uk-link'%></li>
      <li><%= link_to "Boxing", new_boxing_path, :class => 'uk-link'%></li>
      <li><%= link_to "Soccer", new_soccer_path, :class => 'uk-link'%></li>
      <li><%= link_to "Cycling", new_cycling_path, :class => 'uk-link'%></li>
    </ul>
  </div>
</div>

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Sport</th>
    <th>Date</th>
    <th>Location</th>
    <th>Participants</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @sessions.each do |s| %>
      <tr>
        <td><%= s.type %></td>
        <td><%= s.entry_date %></td>
        <td><%= s.entry_location %></td>
        <td>
          <ul><% s.sport_session_participants.each do |p|%>
             <li><%=p.user.name%></li>
             <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'View', sport_session_path(s), class: "uk-button uk-button-small"%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>