  <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
    <h3 class="uk-title">Details</h3>
    <table class="uk-table uk-text-nowrap">
      <tbody>
      <tr>
        <td><strong>Date/Time</strong></td>
        <td><%= boxing.date %></td>
      </tr>
      <tr>
        <td><strong>Location</strong></td>
        <td><%= boxing.location %></td>
      </tr>
      <tr>
        <td><strong>Initiator</strong></td>
        <td><%= link_to boxing.user.username, user_path(boxing.user) %></td>
      </tr>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= boxing.entry_duration %></td>
      </tr>
      <tr>
        <td><strong>Round duration</strong></td>
        <td><%= boxing.round_duration %></td>
      </tr>
        <td><strong>Number of rounds</strong></td>
        <td><%= boxing.number_of_rounds %></td>
      </tr>
      </tbody>
    </table>
  </div>