<% content_for :head do %>
    <!-- load google maps only once -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <%= render :partial => 'sport_sessions/google_map', :locals => {:session => @boxing} %>
<% end %>

<% content_for :javascript do %>
    <%= render :partial => 'sport_sessions/facebook_javascript' %>
<% end %>


<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-3-4">
    <h1><%= @boxing.title %></h1>

    <p class="uk-text-large"><%= @boxing.comment %></p>
  </div>

  <div class="uk-width-medium-1-4">

    <% if @boxing.is_viewable(current_user) %>
        <div class="uk-button-group uk-align-right">
          <button class="uk-button">Actions</button>
          <div data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-button"><i class="uk-icon uk-icon-caret-down"></i></a>

            <div class="uk-dropdown uk-dropdown-small">
              <ul class="uk-nav uk-nav-dropdown">
                <% if @boxing.is_editable(current_user) %>
                    <li><a href="<%= edit_boxing_path @boxing %>">Edit</a></li>
                <% end %>
                <% if @boxing.is_past %>
                    <li><a href="<%= edit_boxing_path(@boxing.id) + '/result' %>">Edit Results</a></li>
                <% end %>
                <% if @boxing.is_confirmable(current_user) %>
                    <li><a href="/sport_sessions/<%= @boxing.id %>/confirm/<%= current_user.id %>">Confirm</a></li>
                    <li><a href="/sport_sessions/<%= @boxing.id %>/decline/<%= current_user.id %>">Decline</a></li>
                <% end %>
                <% if @boxing.is_unsubscribeable(current_user) %>
                    <li><a href="/sport_sessions/<%= @boxing.id %>/unsubscribe/<%= current_user.id %>">Unsubscribe</a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>

<div class="uk-grid" data-uk-grid-margin>

  <div class="uk-width-medium-2-3">

    <% if @boxing.is_past %>

        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
          <h3 class="uk-panel-title">Results</h3>

          <table class="uk-table uk-table-striped">
            <thead>
            <tr>
              <th>Participant</th>
              <th>Knockout Opponent</th>
              <th>Number of Rounds</th>
              <th>Points</th>
              <th>Overall Time</th>
            </tr>
            </thead>
            <tbody>
            <% @boxing.get_all_results.each do |result| %>
                <tr class="
                  <% if result.user.id == current_user.id %>highlight
                  <% end %>">
                  <td><%= link_to result.user.username, sport_session_path(@boxing, user_id: result.user) %></td>
                  <td><%= result.knockout_opponent %></td>
                  <td><%= result.number_of_rounds %></td>
                  <td><%= result.points %></td>
                  <td><%= result.time %> minutes</td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>

    <% end %>

    <!-- Details table -->
    <%= render :partial => 'table_attributes', :locals => {:sport_session => @boxing} %>

    <!-- Location map -->
    <% if @boxing.latitude and @boxing.longitude %>
        <div id="map-canvas" class="google-map uk-margin"></div>
    <% end %>

  </div>


  <div class="uk-width-medium-1-3">

    <% if @boxing.is_upcoming %>
        <%= render :partial => 'sport_sessions/users_joining', :locals => {:sport_session => @boxing} %>
    <% end %>

    <% if @boxing.achievements_obtained(current_user).count > 0 %>
        <%= render :partial => 'sport_sessions/user_achievements', :locals => {:sport_session => @boxing} %>
    <% end %>

    <%= render :partial => 'sport_sessions/social_buttons', :locals => {:sport_session => @boxing} %>

  </div>
</div>