<% content_for :head do %>
    <!-- load google maps only once -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <%= render :partial => 'sport_sessions/google_map', :locals => {:session => @soccer} %>
<% end %>

<% content_for :javascript do %>
    <%= render :partial => 'sport_sessions/facebook_javascript' %>
<% end %>

<script>
    // load tabs dynamically and show and hide them if the corresponding tab is selected
    // tries to mimic something like a controller action
    $(function () {
        // list of available tab ids
        var tabs = ['#tab_results'];

        // hides all tabs
        var hideTabs = function () {
            tabs.forEach(function (tab_id) {
                $(tab_id + '_page').hide();
                $(tab_id).removeClass('uk-active');
            });
        };

        // tab controller functions

        // results tab controller
        $('#tab_results').click(function () {
            hideTabs();
            $('#tab_results').addClass('uk-active');
            $('#tab_results_page').fadeIn(500);
            google.maps.event.trigger(map, 'resize');
            map.setCenter(map_center);
        });

        // init
        hideTabs(); // first hide all tabs

        $('#tab_results_page').show();
        $('#tab_results').addClass('uk-active');
    });
</script>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-3-4">
    <h1><%= @soccer.title %></h1>

    <p class="uk-text-large"><%= @soccer.comment %></p>
    <% if @soccer.is_participant(@user) %>
        <h2> Results for <%= @user.username %> </h2>
    <% end %>
  </div>

  <div class="uk-width-medium-1-4">

    <% if @soccer.is_participant(current_user) %>
        <div class="uk-button-group uk-align-right">
          <button class="uk-button">Actions</button>
          <div data-uk-dropdown="{mode:'click'}">
            <a href="#" class="uk-button"><i class="uk-icon uk-icon-caret-down"></i></a>

            <div class="uk-dropdown uk-dropdown-small">
              <ul class="uk-nav uk-nav-dropdown">
                <% if @soccer.is_upcoming and @soccer.user_id == current_user.id %>
                    <li><a href="<%= edit_soccer_path @soccer %>">Edit</a></li>
                <% end %>
                <% if @soccer.is_past %>
                    <li><a href="<%= edit_soccer_path(@soccer.id) + '/result' %>">Edit Results</a></li>
                <% end %>
                <% if @soccer.is_upcoming and @soccer.is_unconfirmed_participant(current_user) %>
                    <li><a href="/sport_sessions/<%= @soccer.id %>/confirm/<%= current_user.id %>">Confirm</a></li>
                    <li><a href="/sport_sessions/<%= @soccer.id %>/decline/<%= current_user.id %>">Decline</a></li>
                <% end %>
                <% if @soccer.is_upcoming and @soccer.is_confirmed_participant(current_user) and not @soccer.user_id == current_user.id %>
                    <li><a href="/sport_sessions/<%= @soccer.id %>/unsubscribe/<%= current_user.id %>">Unsubscribe</a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>

</div>

<div class="uk-grid" data-uk-grid-margin>

  <div class="uk-width-medium-2-3">

    <div class="uk-panel">
      <!-- Tab menu -->
      <ul class="uk-tab">

        <!-- Link for result tab -->
        <li id="tab_results"><a href="#results" id="tab_results">Results</a></li>

      </ul>
    </div>

  </div>
  <div class="uk-width-medium-1-3"></div>
  <!-- TODO: remove this div tag? necessary? -->

  <div class="uk-width-medium-2-3">

    <div class="uk-grid">

      <!-- Result tab page -->
      <div class="uk-width-medium-1-1" id="tab_results_page">
        <% if @soccer.is_past %>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
              <h3 class="uk-panel-title">Results</h3>

              <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                  <th>Participant</th>
                  <th>Time</th>
                  <th>Length</th>
                </tr>
                </thead>
                <tbody>
                <% @soccer.get_all_results.each do |result| %>
                    <tr class="
                  <% if result.user.id == current_user.id %>highlight
                  <% end %>">
                      <td><%= link_to result.user.username, sport_session_path(@soccer, user_id: result.user) %></td>
                      <td><%= result.time %></td>
                      <td><%= result.length %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

            </div>

        <% end %>

        <!-- Details table -->
        <%= render :partial => 'table_attributes', :locals => {:sport_session => @soccer} %>

        <!-- Location map -->
        <% if @soccer.latitude and @soccer.longitude %>
            <div id="map-canvas" class="google-map uk-margin"></div>
        <% end %>

      </div>

    </div>

  </div>

  <div class="uk-width-medium-1-3">

    <% if @soccer.is_upcoming %>
        <%= render :partial => 'sport_sessions/users_joining', :locals => {:sport_session => @soccer} %>
    <% end %>

    <% if @soccer.achievements_obtained(current_user).count > 0 %>
        <div class="uk-panel uk-panel-box">
          <h3 class="uk-panel-title"><i class="uk-icon-star"></i> Achievements</h3>
          <% @soccer.achievements_obtained(current_user).each do |achievement| %>
              <li class="uk-margin-small-bottom">
                <div class="uk-thumbnail uk-border-circle uk-margin-right">
                  <img class="uk-border-circle" width="50" height=50" src="<%= image_path("achievement_icons/#{achievement.id}.svg") %>">
                </div>
                <%= achievement.title %>
              </li>
          <% end %>
        </div>
    <% end %>

    <%= render :partial => 'sport_sessions/social_buttons', :locals => {:session => @soccer} %>

  </div>
</div>