
<div class="uk-panel uk-panel-box">
  <div class="uk-panel uk-text-center">
 <p>
  <%= image_tag @gravatar_url, class: "uk-border-circle" %>
</p>
</div>
<hr>


  <div class="uk-panel uk-text-center">


  <p>
  <i class="uk-icon-user"></i> <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <i class="uk-icon-check"></i> <strong>Realname:</strong>
  <%= @user.real_name %>
</p>


<p>
  <i class="uk-icon-envelope"></i> <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--
<p>
  <strong>Public visible:</strong>
  <%= @user.public_visible %>
</p>
-->

<p>
  <i class="uk-icon-share-alt"></i> <strong>Friends:</strong>
  <ul>
    <% @user.partnerships.each do |p| %>
         <li> <%= p.partner_of(@user).username %> </li>
    <% end %>
  </ul>
</p>

<% if current_user and @user.username != current_user.username and not current_user.befriended_with?(@user) %>
    <%= button_to 'Send friend request', controller: 'friends', action: 'create', method: :post, username: @user.username %>
<% end %>
<%= link_to 'Back', users_path %>
</div>
    </div>