<% content_for :head do %>
    <%= render :partial => 'google_map', locals: { latitude: @user.latitude, longitude: @user.longitude} %>
<% end %>

<%= render :partial => 'modal_box' %>

<!-- First box -->
<div class="uk-grid" data-uk-grid-margin>

  <!-- Title -->
  <div class="uk-width-medium-3-4">
    <h1><%= @user.username %></h1>
  </div>

  <!-- Friend request button -->
  <div class="uk-width-medium-1-4">
    <div class="uk-align-right">
      <%= render(partial: 'friends/request_form', locals: { user: @user }) if current_user.id != @user.id && !current_user.befriended_with(@user) %>
    </div>

  </div>

</div>

<!-- Second box -->
<div class="uk-grid" data-uk-grid-margin>

  <!-- User main profile -->
  <div class="uk-width-medium-2-3">

    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">

      <div class="uk-grid">

        <!-- Gravatar -->
        <div class="uk-width-medium-1-4">
          <%= image_tag @gravatar_url, class: "uk-border-circle" %>
        </div>

        <!-- User details -->
        <div class="uk-width-medium-3-4">

          <h3 class="uk-title"><i class="uk-icon-user"></i> Details</h3>
          <table class="uk-table uk-text-nowrap">
            <tbody>
            <tr>
              <td><i class="uk-icon-user"></i>  <strong>Username</strong></td>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <td><i class="uk-icon-check"></i> <strong>Real name</strong></td>
              <td><%= @user.real_name %></td>
            </tr>
            <tr>
              <td><i class="uk-icon-envelope"></i> <strong>Email</strong></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td><i class="uk-icon-home"> </i> <strong>Location</strong></td>
              <td><%= @user.location %></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

  <!-- Friends panel -->
  <div class="uk-width-medium-1-3">
    <div class="uk-panel uk-panel-box">
      <h3 class="uk-panel-title"><i class="uk-icon-share-alt"></i> Friends </h3>
      <ul class="uk-list uk-list-line">

        <% if @friends.present? %>
            <% @friends.each do |friend| %>
                <li><%= link_to friend.username, user_path(friend) %><span class="uk-text-muted uk-text-small"> </span></li>
            <% end %>
        <% else %>
            <li><%= "#{@user.username} is a lone wolf!" %> </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<!-- Third box -->
<div class="uk-grid" data-uk-grid-margin>
  <!-- details -->
  <div class="uk-width-medium-2-3">

    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
      <h3 class="uk-title"><i class="uk-icon-star"></i> Achievements</h3>
      <div class="uk-grid">
        <div class="uk-width-medium-1-1">
          TODO
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Location and activities -->
<div class="uk-grid" data-uk-grid-margin>

  <div class="uk-width-medium-2-3">
    <div class="uk-grid">

        <% if @user.latitude and @user.longitude %>
            <!-- Google map -->
            <div class="uk-width-medium-1-2">
              <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
                <i class="uk-icon-home"></i> <strong>Location</strong>
                <div id="map-canvas" class="google-map uk-margin"></div>
              </div>
            </div>
        <% end %>

        <div class="uk-width-medium-1-2">

          <div class="uk-grid" data-uk-grid-margin>

            <!-- Upcoming activities -->
            <div class="uk-width-medium-1-1">
              <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
                <i class="uk-icon-calendar-o"></i> <strong>Upcoming activities</strong>

                <dl class="uk-description-list-line">
                  <% @upcoming_activities.map do |f| %>

                      <dt> <%= f.type %> <%= " - #{f.title}" if f.title.present? %> </dt>
                      <dd>
                        <ul class="uk-list">
                          <% if f.location.present? %> <li><i class="uk-icon-home"></i> <%= f.location %> </li> <% end %>
                          <% if f.date.present? %> <li><i class="uk-icon-clock-o"></i> <%= f.date %> </li> <% end %>
                        </ul>
                      </dd>

                  <% end %>
                </dl>

              </div>
            </div>

            <!-- Past activities -->
            <div class="uk-width-medium-1-1">
              <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
                <i class="uk-icon-calendar-o"></i> <strong>Past activities</strong>

                <dl class="uk-description-list-line">
                  <% @sports_past.map do |f| %>

                      <dt> <%= f.type %> <%= " - #{f.title}" if f.title.present? %> </dt>
                      <dd>
                        <ul class="uk-list">
                          <% if f.location.present? %> <li><i class="uk-icon-home"></i> <%= f.location %> </li> <% end %>
                          <% if f.date.present? %> <li><i class="uk-icon-clock-o"></i> <%= f.date %> </li> <% end %>
                        </ul>
                      </dd>

                  <% end %>
                </dl>

              </div>
            </div>

          </div>
        </div>


    </div>
  </div>
  <div class="uk-width-medium-1-3">

  </div>
</div>
<%= render :partial => 'hidden_achievements', locals: { user: @user } %>