
<h1>Achievements</h1>

<div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
  <h3 class="uk-title">Running</h3>

  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-small-1-10 uk-text-center">
      <div class="uk-thumbnail uk-overlay-toggle uk-border-circle uk-margin-bottom-remove">
        <div class="uk-overlay">
          <img class="uk-border-circle" width="50" height=50" src="<%= image_path('achievement_icons/running31.svg') %>">
        </div>
      </div>
      <h4 class="uk-margin-small-top">Basic Runner</h4>
      </div>

    <div class="uk-width-small-1-10 uk-text-center inactive">
      <div class="uk-thumbnail uk-overlay-toggle uk-border-circle uk-margin-bottom-remove">
        <div class="uk-overlay">
          <img class="uk-border-circle" width="50" height=50" src="<%= image_path('achievement_icons/runer.svg') %>">
        </div>
      </div>
      <h4 class="uk-margin-small-top">Usian Bolt</h4>
    </div>

    <div class="uk-width-small-1-10 uk-text-center inactive">
      <div class="uk-thumbnail uk-overlay-toggle uk-border-circle uk-margin-bottom-remove">
        <div class="uk-overlay">
          <img class="uk-border-circle" width="50" height=50" src="<%= image_path('achievement_icons/man255.svg') %>">
        </div>
      </div>
      <h4 class="uk-margin-small-top">Train Hard</h4>
    </div>

    <div class="uk-width-small-1-10 uk-text-center inactive">
      <div class="uk-thumbnail uk-overlay-toggle uk-border-circle uk-margin-bottom-remove">
        <div class="uk-overlay">
          <img class="uk-border-circle" width="50" height=50" src="<%= image_path('achievement_icons/group9.svg') %>">
        </div>
      </div>
      <h4 class="uk-margin-small-top">Social Runner</h4>
    </div>

    <div class="uk-width-small-1-10 uk-text-center inactive">
      <div class="uk-thumbnail uk-overlay-toggle uk-border-circle uk-margin-bottom-remove">
        <div class="uk-overlay">
          <img class="uk-border-circle" width="50" height=50" src="<%= image_path('achievement_icons/brazil6.svg') %>">
        </div>
      </div>
      <h4 class="uk-margin-small-top">Runner</h4>
    </div>


  </div>
</div>