<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @achievement.title %>
</p>

<p>
  <strong>Points:</strong>
  <%= @achievement.points %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @achievement.sport.title %>
</p>

<p>
  <strong>Validator:</strong>
  <%= @achievement.validator.type %>
</p>

<p>
  <strong>Validator:</strong>
  <%= @achievement.rules %>
</p>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
