<!DOCTYPE html>
<html>
<head>
  <title>CyberCoach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:alert] if flash[:alert].present? %>
<%= flash[:notice] if flash[:notice].present? %>

<%= yield %>

</body>
</html>
