<!DOCTYPE html>
<html>
<head>
  <title>CyberCoach</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div id="main-container" class="uk-container uk-container-center">

  <% if current_user.present? %>

      <nav class="uk-navbar uk-margin uk-margin-large-bottom uk-margin-top">
        <a href="<%= welcome_index_path %>" class="uk-navbar-brand">CyberCoach</a>

        <ul class="uk-navbar-nav">

          <% if current_user.present? %>

              <!-- sport session menu -->
              <li data-uk-dropdown class="uk-parent<%= params[:controller] == 'sport_sessions' ? ' uk-active' : '' %>">
                <a href="<%= sport_sessions_index_url %>"><i class="uk-icon-soccer-ball-o"></i> Sport Sessions
                  <i class="uk-icon-angle-down"></i></a>

                <div class="uk-dropdown uk-dropdown-navbar">
                  <ul class="uk-nav uk-nav-navbar">
                    <li><a href="<%= runnings_url %>">Running</a></li>
                    <li><a href="<%= boxings_url %>">Boxing</a></li>
                    <li><a href="<%= cyclings_url %>">Cycling</a></li>
                  </ul>
                </div>
              </li>

              <!-- friends menu -->
              <li<%= params[:controller] == 'friends' ? ' class=uk-active' : '' %>>
                <a href="<%= friends_index_url %>"><i class="uk-icon-users"></i> Friends</a>
              </li>

              <!-- achievement menu -->
              <li<%= params[:controller] == 'user_achievements' ? ' class=uk-active' : '' %>>
                <a href="<%= user_achievements_index_url %>"><i class="uk-icon-star"></i> Achievements</a>
              </li>


          <% end %>
        </ul>

        <div class="uk-navbar-flip">
          <ul class="uk-navbar-nav">
            <% if current_user.present? %>
                <li data-uk-dropdown class="uk-parent">
                  <a href=""><i class="uk-icon-user"></i> <strong><%= current_user.username %></strong>
                    <i class="uk-icon-angle-down"></i></a>

                  <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                      <li><%= link_to 'Profile', current_user %></li>
                      <li><%= link_to 'Edit account', edit_user_path(current_user) %></li>
                      <li><%= link_to "Logout", session_logout_url %></li>
                    </ul>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </nav>

  <% end %>

  <% # Display flash messages across the application    %>
  <% if flash[:notice] %>
      <% if flash[:notice].is_a? Array %>
          <% flash[:notice].each do |notice| %>
              <div class="uk-alert" data-uk-alert>
                <a href="" class="uk-alert-close uk-close"></a>

                <p><%= notice %></p>
              </div>
          <% end %>
      <% else %>
          <div class="uk-alert" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>

            <p><%= flash[:notice] %></p>
          </div>
      <% end %>
  <% end %>
  <% if flash[:alert] %>
      <div class="uk-alert uk-alert-danger" data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>

        <p><%= flash[:alert] %></p>
      </div>
  <% end %>

  <%= yield %>

</div>

<%= yield(:javascript) %>

</body>
</html>
